# Dataset files
datasets/realblur/*
!datasets/realblur/download_utils.py
datasets/gopro/*
!datasets/gopro/download_utils.py

# Original repo
original_github_repo/

# Pretrained models
*.pth
*.ckpt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
